.vbox {
    -fx-border-color: #300e80;
    -fx-border-width: 3px;
    -fx-background-color: white;
    -fx-padding: 10px 0px 10px 20px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.myBtn {
    -fx-background-color: #300e80;

    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-max-width: 200px;
    -fx-max-height: 80px;
    -fx-pref-width: 70px;
    -fx-pref-height: 40px;
    -fx-cursor: hand;
}
.l1{
    -fx-text-fill:#300e80 ;

}
.cont2 , .cont{
    -fx-padding: 6px 0px 0px 0px;
}
